.e1_6 { 
	overflow:hidden;
}
.e1_6 { 
	background-color:rgba(231.62500709295273, 231.62500709295273, 231.62500709295273, 1);
	width:1840px;
	height:3000px;
	position:absolute;
}
.e1_7 { 
	background-color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:722px;
	height:2524px;
	position:absolute;
	left:71px;
	top:391px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1_8 { 
	border-radius:500px;
	background-color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:523px;
	height:523px;
	position:absolute;
	left:170px;
	top:50px;
}
.e1_9 { 
	border-radius:500px;
	width:439px;
	height:439px;
	position:absolute;
	left:212px;
	top:92px;
	background-image:url(images/ellipse_1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_10 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:1030px;
	height:221px;
	position:absolute;
	left:774px;
	top:67px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1_11 { 
	background-color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:1030px;
	height:221px;
	position:absolute;
	left:810px;
	top:117px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e1_12 { 
	color:rgba(255, 255, 255, 1);
	width:1246px;
	height:120px;
	position:absolute;
	left:693px;
	top:117px;
	font-family:Mogra;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:477px;
	height:110px;
	position:absolute;
	left:278px;
	top:714px;
	font-family:Livvic;
	text-align:center;
	font-size:45px;
	letter-spacing:-1.5;
}
.e1_14 { 
	color:rgba(255, 255, 255, 1);
	width:403px;
	height:102px;
	position:absolute;
	left:1114px;
	top:227px;
	font-family:Mogra;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_15 { 
	border-radius:500px;
	width:166px;
	height:166px;
	position:absolute;
	left:102px;
	top:686px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_16 { 
	width:200px;
	height:200px;
	position:absolute;
	left:85px;
	top:900px;
	background-image:url(images/_pngtree_instagram_icon_instagram_logo_3584852_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_17 { 
	color:rgba(255, 255, 255, 1);
	width:232px;
	height:63px;
	position:absolute;
	left:288px;
	top:968px;
	font-family:Livvic;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:661px;
	height:88px;
	position:absolute;
	left:102px;
	top:579px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_19 { 
	color:rgba(255, 255, 255, 1);
	width:722px;
	height:100px;
	position:absolute;
	left:71px;
	top:1791px;
	font-family:Livvic;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:-1.5;
}
.e1_20 { 
	width:167.9415283203125px;
	height:166px;
	position:absolute;
	left:100px;
	top:1148px;
	background-image:url(images/clipart1150335_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_21 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:288px;
	top:1199px;
	font-family:Livvic;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e1_22 { 
	width:166px;
	height:166px;
	position:absolute;
	left:102px;
	top:1362px;
	background-image:url(images/email_13762_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_23 { 
	color:rgba(255, 255, 255, 1);
	width:490px;
	height:50px;
	position:absolute;
	left:278px;
	top:1430px;
	font-family:Livvic;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_24 { 
	width:166px;
	height:167.0849609375px;
	position:absolute;
	left:102px;
	top:1576px;
	background-image:url(images/pngegg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_25 { 
	color:rgba(255, 255, 255, 1);
	width:320px;
	height:63px;
	position:absolute;
	left:288px;
	top:1628px;
	font-family:Livvic;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e1_26 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:580px;
	height:68px;
	position:absolute;
	left:142px;
	top:2008px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:378px;
	height:68px;
	position:absolute;
	left:142px;
	top:2008px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_28 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:580px;
	height:68px;
	position:absolute;
	left:142px;
	top:2189px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:286px;
	height:68px;
	position:absolute;
	left:142px;
	top:2189px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_30 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:580px;
	height:68px;
	position:absolute;
	left:142px;
	top:2376px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:234px;
	height:68px;
	position:absolute;
	left:142px;
	top:2376px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_32 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:580px;
	height:68px;
	position:absolute;
	left:142px;
	top:2558px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:286px;
	height:68px;
	position:absolute;
	left:142px;
	top:2558px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_34 { 
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:580px;
	height:68px;
	position:absolute;
	left:142px;
	top:2743px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:126px;
	height:68px;
	position:absolute;
	left:142px;
	top:2743px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e1_36 { 
	color:rgba(255, 255, 255, 1);
	width:331px;
	height:88px;
	position:absolute;
	left:129px;
	top:1927px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_37 { 
	color:rgba(255, 255, 255, 1);
	width:252px;
	height:88px;
	position:absolute;
	left:129px;
	top:2479px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_38 { 
	color:rgba(255, 255, 255, 1);
	width:184px;
	height:88px;
	position:absolute;
	left:129px;
	top:2111px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_39 { 
	color:rgba(255, 255, 255, 1);
	width:132px;
	height:88px;
	position:absolute;
	left:129px;
	top:2663px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_40 { 
	color:rgba(255, 255, 255, 1);
	width:222px;
	height:88px;
	position:absolute;
	left:129px;
	top:2278px;
	font-family:Livvic;
	text-align:center;
	font-size:70px;
	letter-spacing:-1.5;
}
.e1_41 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:749px;
	height:100px;
	position:absolute;
	left:930px;
	top:405px;
	font-family:Livvic;
	text-align:center;
	font-size:80px;
	letter-spacing:-1.5;
}
.e1_42 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:153px;
	height:63px;
	position:absolute;
	left:881px;
	top:604px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_43 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:400px;
	height:63px;
	position:absolute;
	left:1149px;
	top:604px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_44 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:238px;
	height:63px;
	position:absolute;
	left:881px;
	top:714px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_45 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:95px;
	height:63px;
	position:absolute;
	left:1149px;
	top:714px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_46 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:209px;
	height:63px;
	position:absolute;
	left:881px;
	top:939px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_47 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:395px;
	height:63px;
	position:absolute;
	left:1149px;
	top:939px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_48 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:182px;
	height:63px;
	position:absolute;
	left:881px;
	top:1055px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_49 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:107px;
	height:63px;
	position:absolute;
	left:881px;
	top:823px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_50 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:271px;
	height:63px;
	position:absolute;
	left:881px;
	top:1171px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_51 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:174px;
	height:63px;
	position:absolute;
	left:881px;
	top:1287px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_52 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:165px;
	height:63px;
	position:absolute;
	left:881px;
	top:1404px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_53 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:191px;
	height:63px;
	position:absolute;
	left:881px;
	top:1521px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_54 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:99px;
	height:63px;
	position:absolute;
	left:1152px;
	top:823px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_55 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:76px;
	height:63px;
	position:absolute;
	left:1149px;
	top:1055px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_56 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:170px;
	height:63px;
	position:absolute;
	left:1202px;
	top:1171px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_57 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:176px;
	height:63px;
	position:absolute;
	left:1137px;
	top:1287px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_58 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:128px;
	height:63px;
	position:absolute;
	left:1149px;
	top:1403px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_59 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:91px;
	height:63px;
	position:absolute;
	left:1149px;
	top:1521px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_60 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:166px;
	height:63px;
	position:absolute;
	left:881px;
	top:1637px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_61 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:600px;
	height:63px;
	position:absolute;
	left:1152px;
	top:1641px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_62 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:809px;
	height:100px;
	position:absolute;
	left:921px;
	top:1803px;
	font-family:Livvic;
	text-align:center;
	font-size:80px;
	letter-spacing:-1.5;
}
.e1_63 { 
	width:225px;
	height:225px;
	position:absolute;
	left:845px;
	top:1956px;
	background-image:url(images/300792421_509822907810963_4345791978997680056_n_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_64 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:443px;
	height:63px;
	position:absolute;
	left:1119px;
	top:2044px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_65 { 
	width:225px;
	height:225px;
	position:absolute;
	left:845px;
	top:2257px;
	background-image:url(images/download_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_66 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:481px;
	height:63px;
	position:absolute;
	left:1100px;
	top:2338px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_67 { 
	width:225px;
	height:225px;
	position:absolute;
	left:855px;
	top:2558px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_68 { 
	color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:677px;
	height:63px;
	position:absolute;
	left:1100px;
	top:2639px;
	font-family:Livvic;
	text-align:center;
	font-size:50px;
	letter-spacing:-1.5;
}
.e1_69 { 
	transform: rotate(38.99999904149297deg);
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:1480.6822509765625px;
	height:1480.6822509765625px;
	position:absolute;
	left:1653.8232421875px;
	top:2148px;
}
.e1_70 { 
	transform: rotate(38.99999904149297deg);
	background-color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:1480.6822509765625px;
	height:1480.6822509765625px;
	position:absolute;
	left:1692.8232421875px;
	top:2190.0009765625px;
}
.e1_71 { 
	transform: rotate(82.99999883362626deg);
	background-color:rgba(0, 75.1187239587307, 107.31249645352364, 1);
	width:1480.6822509765625px;
	height:1480.6822509765625px;
	position:absolute;
	left:470.645263671875px;
	top:-904.000244140625px;
}
.e1_72 { 
	transform: rotate(82.99999883362626deg);
	background-color:rgba(0, 31.98123849928379, 45.68749822676182, 1);
	width:1480.6822509765625px;
	height:1480.6822509765625px;
	position:absolute;
	left:437.645263671875px;
	top:-960px;
}
.e1_73 { 
	background-color:rgba(206.12500101327896, 206.12500101327896, 206.12500101327896, 1);
	width:480px;
	height:130px;
	position:absolute;
	left:1119px;
	top:2826px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_73_0_435 { 
	background-color:rgba(159.375, 0, 0, 1);
	width:500px;
	height:130px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei1_73_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:436px;
	height:78px;
	position:absolute;
	left:21.53845977783203px;
	top:25.75px;
	font-family:Montserrat;
	text-align:center;
	font-size:60px;
	letter-spacing:-1.5;
}
.e3_92 { 
	overflow:hidden;
}
.e3_92 { 
	background-color:rgba(255, 0, 0, 1);
	width:100%;
	height:3000px;
	position:absolute;
}
.e3_93 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:264px;
	position:absolute;
	left:0px;
	top:2621px;
}
.e3_94 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:593px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_95 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:301px;
	height:24px;
	position:absolute;
	left:1299px;
	top:120px;
	font-family:Montserrat;
	text-align:right;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_96 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:786px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_97 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:24px;
	position:absolute;
	left:977px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_98 { 
	width:122.07408905029297px;
	height:32px;
	position:absolute;
	left:80px;
	top:120px;
}
.ei3_98_0_421 { 
	color:rgba(0, 0, 0, 1);
	width:87.70370483398438px;
	height:32px;
	position:absolute;
	left:34.37038040161133px;
	top:0px;
	font-family:Comfortaa;
	text-align:center;
	font-size:28.444446563720703px;
	letter-spacing:-1.5;
}
.ei3_98_0_423 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:22.518518447875977px;
	height:22.518518447875977px;
	position:absolute;
	left:0.000008098707439785358px;
	top:2.962960720062256px;
}
.ei3_98_0_424 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22.518518447875977px;
	height:6.672153472900391px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_98_0_425 { 
	transform: rotate(-90deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22.518518447875977px;
	height:6.672153472900391px;
	position:absolute;
	left:6.672144889831543px;
	top:22.518522262573242px;
}
.ei3_98_0_426 { 
	transform: rotate(-180deg);
	background-color:rgba(0, 0, 0, 1);
	width:22.518518447875977px;
	height:22.518518447875977px;
	position:absolute;
	left:22.51852035522461px;
	top:25.481481552124023px;
}
.ei3_98_0_427 { 
	transform: rotate(-180deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22.518518447875977px;
	height:6.672153472900391px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_98_0_428 { 
	transform: rotate(90.00000000000003deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:22.518518447875977px;
	height:6.672153472900391px;
	position:absolute;
	left:-6.672139644622799px;
	top:-22.518522262573242px;
}
.e3_99 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:948px;
	position:absolute;
	left:0px;
	top:1673px;
}
.e3_100 { 
	color:rgba(0, 0, 0, 1);
	width:750px;
	height:144px;
	position:absolute;
	left:80px;
	top:120px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_101 { 
	width:686px;
	height:222px;
	position:absolute;
	left:80px;
	top:324px;
}
.e3_102 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_103 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_104 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei3_104_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_104_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e3_105 { 
	width:686px;
	height:222px;
	position:absolute;
	left:914px;
	top:324px;
}
.e3_106 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_107 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_108 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei3_108_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_108_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e3_109 { 
	width:686px;
	height:222px;
	position:absolute;
	left:80px;
	top:606px;
}
.e3_110 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_111 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_112 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei3_112_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_112_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e3_113 { 
	width:686px;
	height:222px;
	position:absolute;
	left:914px;
	top:606px;
}
.e3_114 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_115 { 
	color:rgba(0, 0, 0, 0.800000011920929);
	width:686px;
	height:90px;
	position:absolute;
	left:0px;
	top:60px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_116 { 
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:182px;
}
.ei3_116_0_435 { 
	background-color:rgba(24.000000469386578, 160.00000566244125, 251.00000023841858, 1);
	width:130px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_116_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:18px;
	position:absolute;
	left:22px;
	top:11px;
	font-family:Montserrat;
	text-align:center;
	font-size:15px;
	letter-spacing:-1.5;
}
.e3_117 { 
	background-color:rgba(255, 146.62499696016312, 146.62499696016312, 1);
	width:100%;
	height:600px;
	position:absolute;
	left:0px;
	top:1073px;
}
.e3_118 { 
	width:760px;
	height:440px;
	position:absolute;
	left:840px;
	top:80px;
	background-image:url(images/13_3p1_4_e1594871312882_728x486_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_119 { 
	width:686px;
	height:144px;
	position:absolute;
	left:80px;
	top:228px;
}
.ei3_119_1_47 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:144px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:48px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_120 { 
	background-color:rgba(255, 255, 255, 1);
	width:1680px;
	height:960px;
	position:absolute;
	left:0px;
	top:113px;
}
.e3_121 { 
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/mar01220462p1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_122 { 
	width:840px;
	height:960px;
	position:absolute;
	left:840px;
	top:0px;
}
.e3_123 { 
	background-color:rgba(206.12500101327896, 206.12500101327896, 206.12500101327896, 1);
	width:840px;
	height:960px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_124 { 
	background-color:rgba(206.12500101327896, 206.12500101327896, 206.12500101327896, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:74px;
	top:354px;
}
.ei3_124_0_449 { 
	color:rgba(0, 0, 0, 1);
	width:686px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:56px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_125 { 
	background-color:rgba(206.12500101327896, 206.12500101327896, 206.12500101327896, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:306px;
	top:554px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei3_125_0_435 { 
	background-color:rgba(10.757815539836884, 143.4375, 24.025772586464882, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_125_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:29px;
	position:absolute;
	left:18.21538543701172px;
	top:11.300000190734863px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.5;
}
.e3_126 { 
	background-color:rgba(206.12500101327896, 206.12500101327896, 206.12500101327896, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:74px;
	top:554px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei3_126_0_435 { 
	background-color:rgba(159.375, 0, 0, 1);
	width:192px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei3_126_0_437 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:29px;
	position:absolute;
	left:18.21538543701172px;
	top:11.300000190734863px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:-1.5;
}
.e3_127 { 
	background-color:rgba(239.0625, 122.51953125, 122.51953125, 1);
	width:100%;
	height:88px;
	position:absolute;
	left:0px;
	top:25px;
}
.e3_128 { 
	width:95px;
	height:88px;
	position:absolute;
	left:42px;
	top:0px;
	background-image:url(images/dp85iexuwaahdt0_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_129 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:89px;
	position:absolute;
	left:840px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_130 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:88px;
	position:absolute;
	left:1187px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_131 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:89px;
	position:absolute;
	left:1031px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
	line-height:px;
}
.e3_132 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:86px;
	position:absolute;
	left:1423px;
	top:4px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:-1.5;
	line-height:px;
}
